<footer>
      <div class="container">
	{% for column in footer_columns %}
        <div class="col-md-4">
	  {% for directory in column %}
	    {% include "footer_link.html" with depth="4" %}
	  {% endfor %}
        </div>
	{% endfor %}
        <div class="col-md-4">
	  <h4>Member Of</h4>
	  <ul>
            <li>
	      <a href="http://www.hemophilia.org">
	        <img src="/static/images/national_hemophilia_foundation.png" alt="National Hemophilia Foundation" title="National Hemophilia Foundation">
              </a>
	      <ul>
              </ul>
	    </li>
            <li>
	      <a href="http://illinois.healthcharities.org">
	        <img src="/static/images/community_health_charities_illinois.png" alt="Community Health Charities Illinois" title="Community Health Charities Illinois">
              </a>
	      <ul>
              </ul>
	    </li>
            <li>
	      <a href="http://www.hemophiliafed.org">
	        <img src="/static/images/hemophilia_federation_of_america.png" alt="Hemophilia Federation of America" title="Hemophilia Federation of America">
              </a>
	      <ul>
              </ul>
	    </li>
	  </ul>
	  <h4>Connect with us</h4>
	  <ul>
            <li>
	      <a href="https://www.facebook.com/BDAIllinois">
		Facebook
              </a>
	      <ul>
              </ul>
	    </li>
            <li>
	      <a href="https://twitter.com/BDAIllinois">
		Twitter
              </a>
	      <ul>
              </ul>
	    </li>
            <li>
	      <a href="http://www.linkedin.com/company/bleeding-disorders-alliance-illinois">
		LinkedIn
              </a>
	      <ul>
              </ul>
	    </li>
            <li>
	      <a href="mailto:info@bdai.org">
		info@bdai.org
              </a>
	      <ul>
              </ul>
	    </li>
            <li>
              210 S DesPlaines St.
              Chicago, IL
              60661-550
	    </li>
            <li>
              (312) 427 1495
	    </li>
            <li>
              (312) 427 1602 (fax)
	    </li>
	  </ul>
        </div>
      </div>
      <p class="pull-right">© Bleeding Disorders Alliance Illinois {% now "Y" %}</p><p>
    </p></footer>
