{% load static %}
{% load ad %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | {% block title_suffix %}Bleeding Disorders Alliance Illinois{% endblock %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">

     </head>
  <body class="{% block themeclass %}theme_bdai{% endblock %}">
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% block logo %}<a class="navbar-brand" href="/"><img src="{% static "images/bdai.png" %}" alt="Bleeding Disorders Alliance Illinois"></a>{% endblock %}
        </div>
        <div class="navbar-collapse navbar-left collapse">
          <ul class="nav navbar-nav">
	    {% for item in menu_items %}
	    {% if item.children %}
            <li class="{% if item.active %}active{% endif %} dropdown">
	      <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#">{{item.name}}<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
	    	  <li><a href="{{ item.target }}">{{ item.name }}</a></li>
		  <li class="divider"></li>
		  {% for child in item.children %}
		  <li><a href="{{ child.target }}">{{ child.name }}</a></li>
		  {% endfor %}
              </ul>
	    </li>
	    {% else %}
            <li class="{% if item.active %}active{% endif %}"><a href="{{item.target}}">{{item.name}}</a></li>
	    {% endif %}
            {% endfor %}
	    {% if editlink %}
            <li><a href="{{editlink}}"><em>Edit This!</em></a></li>
	    {% endif %}
          </ul>
        </div><!--/.navbar-collapse -->
        <div class="navbar-collapse navbar-right collapse">
          <div class="navbar-right">
            <a href="https://www.networkforgood.org/donation/ExpressDonation.aspx?ORGID2=36-2390156" class="navbar-btn btn btn-success">Donate</a>
	  </div>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    {% block page %}
    <div class="container">
    {{ content|safe }}
    </div>
    {% endblock %}
    <hr>
    <div class="advertisment text-center">
      <small>Advertisment</small><br/>
      {% display_ad %}<br/>
      <small>If you are interested in advertising on BDAI's website please call 312-427-1495</small>
    </div>
    <hr>
    {% include "footer.html" %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </body>
</html>
