{% extends "themes/bdai.html" %}
{% block page %}
<div class="container">
<h1>Sponsors</h1>
<p>We wish to thank our leading contributors by providing a direct link to their web sites by clicking on the logos below.  BDAI does not endorse any specific product or service, and cannot be responsible for the website content of links to sites other than the bdai.org.</p>
<div class="row">
{% for sponsor in sponsors %}
{% if forloop.counter0|divisibleby:"3" %}
</div>
<div class="row">
{% endif %}
<div class="col-md-4">
<h2><a href="{{ sponsor.url }}">{{ sponsor.name }}</a></h2>
<p>
  <a href="{{ sponsor.url }}"><img src="{{ sponsor.logo.url }}"></a>
  {{ sponsor.description }}
</p>
</div>
{% endfor %}
</div>
</div>
{% endblock %}
